.main-chat
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group{"data-group_id" => "25224"}
        aa
      %ul.main-header__left-box__member-list
        Member：
      %li.main-header__left-box__member-list__member
        %a{:href => "/groups/25224/edit"}
    .main-header__edit-btn Edit
  .messages

  .form
    %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/25224/messages", :enctype => "multipart/form-data", :method => "post"}
      .input-box
        %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
        %label.input-box__image{:for => "message_image"}
          %i.far.fa-image
          %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
      %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
