.side_bar
  .side-header
    .side-header__box
      %p.side-header__box__user-name 11
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          %a{:href => "/groups/new"}
            %i.fas.fa-edit
        %li.side-header__box__menu__edit-user
          %a{:href => "/users/19448/edit"}
            %i.fas.fa-cog
  .groups
    %a{:href => "/groups/24906/messages"}
      .group
        %p.group__group-name 73期
        %p.group__latest-message まだメッセージがありません





          

     