.chat-side
  .side-header
   .saide-header_box
    %p.side-header_box_username
      yuya
    %ul.side-header_box_menu
      %li.side-header_box_edit-header_box_username
          =link_to"#"do
           =icon("fas","edit")
      %li.side-header_box_new-gruop 
          =link_to "#"do
           =icon("fas","cog")
  .groups
   = link_to"#",%class"group"%do
     %p.group_group-name
       test
     %p.group_latest-messege

     