.side_bar
  .side-header
    .side-header__box
      %p.side-header__box__user-name 11
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to "#" do
            %i.fas.fa-edit
        %li.side-header__box__menu__edit-user
          = link_to "#" do
            %i.fas.fa-cog
  .groups
    = link_to "/groups/24906/messages"  do
      .group
        %p.groups__group__group-name 73期
        %p.groups__group__latest-message まだメッセージがありません





          

     