.flash-box
  .notice アカウント登録が完了しました。
.wrapper
  .side-bar
    .side-header
      .side-header__box
        %p.side-header__box__user-name yuya
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            %a{:href => "/groups/new"}
              %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
            %a{:href => "/users/18765/edit"}
              %i.fa.fa-cog
    .groups