.side_bar{
  width: 300px;
  color: white;
  background-color: #253141;
  float: left;
}

.side-header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;

    &__box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    &__p {
    // display: block;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    } 
    &__menu{
      display: flex;
    }
    &_menu li {
      margin-left: 0.3rem;
    }
  }

}

.side_bar a {
  color: white;
}

a {
  text-decoration: none;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
}


ul {
  // margin-block-start: 1em;
//   margin-block-end: 1em;
//   margin-inline-start: 0px;
//   margin-inline-end: 0px;
}

.side-header__box__menu li {
  margin-left: 5px;
}


li {
  display: list-item;
  text-align: -webkit-match-parent;
}


a.disabled{
  pointer-events: none;
}